.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #ffffff;
    margin-top: 3rem;
    padding: 0;
    width: 80vw;
    border-left: 2px solid #3c009d;
    border-right: 2px solid #3c009d;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.text {
    color: #3c009d;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: .7rem;
}

.underline {
    width: 4rem;
    height: .4rem;
    background-color: #3c009d;
    border-radius: .6rem;
}

.inputs {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    margin: 0 auto 1rem auto;
    height: 3rem;
    background: #eaeaea;
}

.input img {
    margin: 0 1rem;
}

.input input {
    background: transparent;
    outline: none;
    border: none;
    height: 100%;
}

.submit-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    color: #fff;
    background: #4c00b4;
    border-radius: .5rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 3rem;
    color: #fff;
    background: #4c00b4;
    border-radius: .5rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.gray {
    background: #eaeaea;
    color: #676767;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    font-size: .7rem;
    margin: 0;
    padding: 0;
    color: red;
}

.forgot-span {
    cursor: pointer;
    text-decoration: underline;
}

.forgot-password {
    margin: 1rem;
    font-size: .9rem;
}